*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bgColor);
  color: var(--textWhite);
}

ul {
  list-style-type: none;
}

.section__padding {
  padding: 2rem 150px;
}

.active {
  color: var(--highlight2);
}

.activeChat {
  background-color: var(--highlight1);
  border-radius: 40px;
}

@media screen and (max-width: 1170px) {
  .section__padding {
    padding: 2rem 50px;
  }

  .activeChat {
    border-radius: 30px;
  }
}

@media screen and (max-width: 730px) {
  .section__padding {
      padding: 2rem 25px;
  }
  
}

@media screen and (max-width: 682px) {
  .section__padding {
      padding: 1.25rem 10px;
  }
  
}