@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --fPoppins: "Poppins";
  --fOpenSans: "Open Sans";
  --bgColor: #050505;
  --layoutColor: #181818;
  --highlight1: #2F2F2F;
  --highlight2: #F3AE9F;
  --paraColor: #7F8781;
  --textWhite: #fff;
  --lineColor: #3F3F3F;
}